.site {
}

.site-branding {
  max-width:880px;
  margin:0 auto;
  text-align: center;
}

.site-content {
  max-width: 88rem;
  margin:0 auto;
  background-color: #ffffff;
  padding:0 2rem 2rem;

  @include media($l-up) {
    padding:0 4rem 4rem;
  }

  &.no-pad {
    padding:0;
  }
}

.page-banner {
  margin:0 auto;
  max-width:880px;
  img {
    display:block;
  }
}

#primary.single,
#primary.archive {
  margin-top:0;
}

.entry-header {
  padding: $base-spacing 2rem;
  text-align: center;
  background: linear-gradient(to bottom, white 40%, $light-light-blue) $light-light-blue;
  margin: 0 -2rem $base-spacing;

  @include media($l-up) {
    margin: 0 -4rem $base-spacing;
  }

  h1 {
    margin: 0;
  }
}

.entry-content {
  margin:0 !important;

  @include media($l-up) {
  }
}
